body {
  box-sizing: border-box;
}

h3 {
  font-size: 0.7rem;
}

section div.block-players {
  font-size: 0.8em;
}

section div .list-players {
  border-right: 4px solid #444;
  border-top: 4px solid #444;
  border-top-right-radius: 5px;
}

section div .list-group .list-group-item {
  border-radius: 0;
  color: #111;
}

section div a.list-group-item:focus {
  background-color: #ccc;
  transition: all linear 200ms;
}

nav {
  height: 50px;
}

nav a.nav-link {
  color: #fff;
}

nav .modal .modal-dialog .modal-content .modal-body .form-check label .classe-personnage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(25, 25, 25, 0.3);
}

nav .modal .modal-dialog .modal-content .modal-body .form-check label .classe-personnage-selected {
  border: 3px solid red !important;
}

.block-players .list-players {
  padding: 10px;
  font-size: 0.6rem;
}

main {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: calc(100vh - 50px);
  background-image: url("/assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-char-lists {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-char-lists div.block-players:first-child {
  margin-top: 10px;
}

.container-char-lists div.block-players:last-child {
  margin-bottom: 10px;
}

.container-char-lists div.block-players:last-child .list-group {
  max-height: 50vh;
  overflow-y: scroll;
}

#container-cards-and-log {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 20px;
  grid-gap: 20px;
}

#cards {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 15px;
}

#cards>div {
  border: 1px solid black;
  min-width: 100%;
  background-color: blue;
}

#cards button img {
  max-width: 100%;
}

.button-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#combat-log {
  background-color: red;
  min-height: 100%;
  min-width: 100%; }

.img-card {
  max-width: 60%;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #666; }

#attacker, #attacked {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; }
